# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode build artifacts
build/
build-*/
DerivedData/
.build/
release/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved

# Profiling / coverage
*.profraw
*.profdata

# Logs and temporary files
*.log
*.tmp
*.swp
